<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactenos - Aura</title>
    <link rel="stylesheet" href="../style/style_header.css">
    <link rel="stylesheet" href="../style/style_contactenos.css">
    <link rel="shortcut icon" href="../assets/Logo/logo_blanco.avif" type="image/x-icon">
</head>

<body>
    <div id="header"></div>
    <div class="contactenos-container">
        <div class="info-contacto container">
            <div class="contact-icon">
                <a href="https://api.whatsapp.com/send?phone=906398367&text=Hola,%20quisiera%20información."
                    target="_blank" class="whatsapp-button">
                    <img src="../assets/Svg/whatsapp.svg" alt="whatsapp">
                    <p>Envíenos un mensaje al WhatsApp</p>
                </a>
            </div>
            <div class="contact-icon">
                <a href="tel:+51906398367" class="phone-button">
                <img src="../assets/Svg/phone.svg" alt="phone">
                <p>+51 906 398 367</p>
            </a>
            </div>
            <div class="contact-icon">
                <a href="mailto:aurastudiodesign0@gmail.com" class="email-button">
                <img src="../assets/Svg/email.svg" alt="email">
                <p>aurastudiodesign0@gmail.com</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Segunda sección con información de la empresa -->

    <script src="../scripts/index.js" type="module"></script>
</body>