<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Aura</title>
    <link rel="stylesheet" href="../style/style_inicio.css">
    <link rel="stylesheet" href="../style/style_header.css">
    <link rel="shortcut icon" href="../assets/Logo/logo_blanco.avif" type="image/x-icon">
</head>

<body>
    <div id="header"></div>
    <div class="carousel">
        <div class="carousel-image active">
            <img src="../assets/Inicio/mundo_beatriz.avif" alt="mundo_beatriz">
            <div class="text-container-1">
                <p class="regular-text">Mundo alegre en el</p>
                <p class="bold-text">"mundo de beatriz"</p>
            </div>
        </div>
        <div class="carousel-image">
            <img src="../assets/Inicio/confort_natural.avif" alt="confort_natural">
            <div class="text-container-2">
                <p class="regular-text">Confort natural</p>
                <p class="bold-text">“la estética de la</p>
                <p class="bold-text">naturaleza”</p>
            </div>
        </div>
        <div class="carousel-image">
            <img src="../assets/Inicio/sonidos_de_la_naturaleza.avif" alt="sonidos_de_la_naturaleza">
            <div class="text-container-3">
                <p class="regular-text">Sonidos de la</p>
                <p class="bold-text">“naturaleza”</p>
                <p class="regular-text"> Jardín secreto</p>
            </div>
        </div>
        <div class="carousel-image">
            <img src="../assets/Inicio/sobriedad.avif" alt="sobriedad">
            <div class="text-container-4">
                <p class="bold-text">“Sobriedad en la ciudad” </p>
                <p class="regular-text">Urbana</p>
            </div>
        </div>
        <div class="carousel-image">
            <img src="../assets/Inicio/misterio_natural.avif" alt="misterio_natural">
            <div class="text-container-5">
                <p class="bold-text">"Misterio natural"</p>
                <p class="regular-text">Espacio secreto</p>
            </div>
        </div>
        <div class="carousel-image">
            <img src="../assets/Inicio/bosqueencantado.avif " alt="tv_bar">
            <div class="text-container-6">
                <p class="bold-text">"Diversión Encantada"</p>
            </div>
        </div>
        <div class="carousel-dot-container">
            <div class="carousel-dot active" data-item="0"></div>
            <div class="carousel-dot" data-item="1"></div>
            <div class="carousel-dot" data-item="2"></div>
            <div class="carousel-dot" data-item="3"></div>
            <div class="carousel-dot" data-item="4"></div>
            <div class="carousel-dot" data-item="5"></div>
        </div>
        <!-- <div class="carousel-arrow carousel-arrow-left">&lt;</div>
        <div class="carousel-arrow carousel-arrow-right">&gt;</div> -->
    </div>
    <script src="../scripts/index.js" type="module"></script>
</body>

</html>