<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Aura</title>
    <link rel="stylesheet" href="../style/style_header.css">
    <link rel="stylesheet" href="../style/style_nosotros.css">
    <link rel="shortcut icon" href="../assets/Logo/logo_blanco.avif" type="image/x-icon">
</head>

<body>
    <div id="header"></div>
    <section class=" sobre-nosotros">
        <div class="container nosotros-info">
            <div class="nosotros">
                <img src="../assets/Nosotros/estefani.avif" alt="Foto 1">
                <p>Noemi Esthefani</br>Gonzales Laveriano</p>
                <p>Arquitecta de interiores</p>
            </div>
            <div class="nosotros">
                <img src="../assets/Nosotros/enrique.avif" alt="Foto 2">
                <p>Enrique Jose</br>Espinoza Mendoza</p>
                <p>Arquitecto de interiores & Administración de negocios internacionales</p>
            </div>
        </div>  
        <div class="container quienes-somos">
            <h2>¿Quiénes somos?</h2>
            <p>Somos un estudio de diseño de interiores expertos en interiorismo residencial, comercial y proyectos integrales arquitectónicos.</p>
        </div>  
    </section>

    <!-- Segunda sección con la vision de la empresa -->
    <section class="mision-vision">
        <div class="hero-image"></div>
        <div class="container content">
            <div class="mision">
                <h2>Misión</h2>
                <p>Nuestra meta es transformar espacios a su mejor versión posible, considerando las necesidades y gustos de cada cliente. </p>
            </div>
            <div class="vision">
                <h2>Visión</h2>
                <p>Buscamos sobrepasar las expectativas de los clientes al dar una atención personalizada, creando una relación duradera con cada uno de los clientes, basada en el entendimiento y amor por el diseño.</p>
            </div>
        </div>
    </section>
    
    <script src="../scripts/index.js" type="module"></script>
</body>

</html>
