<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - Aura</title>
    <link rel="stylesheet" href="../style/style_header.css">
    <link rel="stylesheet" href="../style/style_proyectos.css">
    <link rel="shortcut icon" href="../assets/Logo/logo_blanco.avif" type="image/x-icon">
</head>

<body>
    <div id="header"></div>
    <div id="category"></div>
    <section class="contenido-proyectos">
        <div class="button_category">
            <button class="btn-proyecto active" data-item="0">Residencial-Libertad armónica</button>
            <button class="btn-proyecto" data-item="1">Terraza- Conección y Calma</button>
            <button class="btn-proyecto" data-item="2">Residencial- Frescura relajante </button>
        </div>
        <article class="proyecto active">
            <div>
                <img src="../assets/Proyecto/Proyecto1/frame1.avif" alt="Proyecto1">
                <h2 id="proyect-1">Libertad armónica</h2>
            </div>
        </article>
        <article class="proyecto">
            <div>
                <img src="../assets/Proyecto/Terraza/frame.avif" alt="Proyecto2">
                <h2 id="proyect-2">Conexión y calma</h2>
            </div>
        </article>
        <article class="proyecto">
            <div>
                <img src="../assets/Proyecto/Proyecto3/frame1.avif" alt="Proyecto3">
                <h2 id="proyect-3">Frescura relajante</h2>
            </div>
        </article>
    </section>

    <section id="categoria-1" class="modal none">
        <div class="modal-grid">
            <article class="slider">
                <div class="btn-close">
                    <img src="../assets/Svg/close.svg" alt="">
                </div>
                <div class="proyecto active">
                    <img src="../assets/Proyecto/Proyecto1/carousel1.avif" alt="comedor">
                </div>
                <div class="proyecto ">
                    <img src="../assets/Proyecto/Proyecto1/carousel2.avif" alt="cocina">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto1/carousel3.avif" alt="dormitorio">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto1/frame1.avif" alt="dormitorio">
                </div>
                <div class="carousel_dot_proyecto">
                    <div class="dot_proyecto active" data-item="0"></div>
                    <div class="dot_proyecto" data-item="1"></div>
                    <div class="dot_proyecto" data-item="2"></div>
                    <div class="dot_proyecto" data-item="3"></div>
                </div>
                <div class="carousel-arrow carousel-arrow-left">
                    <img src="../assets/Svg/arrow_left.svg" alt="arrow_left">
                </div>
                <div class="carousel-arrow carousel-arrow-right">
                    <img src="../assets/Svg/arrow_right.svg" alt="arrow_right">
                </div>
            </article>
            <div class="text-description">
                <h2>CONCEPTO</h2>
                <p> La propuesta se enfoca en un espacio moderno con un acentos decorativos que le enriquecen el ambientes.
                    Se uso tonos claros ya que el departamento era reducido, entonces para dar esa sensación de amplitud,
                    así mismo para darle dinamismo se coloco wall panel en líneas consecutivas, con unas persions que encajan perfecto para un ambiente moderno.
                </p>
                <p>Palabre clave: Libertad armónica</p>
            </div>
            <div class="text-title">
                <img src="../assets/Proyecto/Proyecto1/libertadarmonica.avif" alt="tema_1">
            </div>
        </div>
    </section>
    
    <section id="categoria-2" class="modal none">
        <div class="modal-grid">
            <article class="slider">
                <div class="btn-close">
                    <img src="../assets/Svg/close.svg" alt="">
                </div>
                <div class="proyecto active">
                    <img src="../assets/Proyecto/Terraza/frame1.avif" alt="terraza1">
                </div>
                <div class="proyecto ">
                    <img src="../assets/Proyecto/Terraza/frame3.avif" alt="terraza2">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Terraza/frame4.avif" alt="terraza3">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Terraza/frame5.avif" alt="terraza4">
                </div>
                <div class="carousel_dot_proyecto">
                    <div class="dot_proyecto active" data-item="0"></div>
                    <div class="dot_proyecto" data-item="1"></div>
                    <div class="dot_proyecto" data-item="2"></div>
                    <div class="dot_proyecto" data-item="3"></div>
                </div>
                <div class="carousel-arrow carousel-arrow-left">
                    <img src="../assets/Svg/arrow_left.svg" alt="arrow_left">
                </div>
                <div class="carousel-arrow carousel-arrow-right">
                    <img src="../assets/Svg/arrow_right.svg" alt="arrow_right">
                </div>
            </article>
            <div class="text-description">
                <h2>CONCEPTO</h2>
                <p> Diseño enfocado en la conexión de la naturaleza con el aire libre, el ambiente te envuelve en tonalidades cálidas con toques de madera y piedra alrededor, hace que el espacio sea de confort y sobretodo un espacio para llevar a cabo los mejores recuerdos con la familia  y amigos.
                </p>
                <p>Palabre clave: Conexión y calma</p>
            </div>
            <div class="text-title">
                <img src="../assets/Proyecto/Terraza/coneccionycalma.avif" alt="tema_1">
            </div>
        </div>
    </section>

    <section id="categoria-3" class="modal none">
        <div class="modal-grid">
            <article class="slider">
                <div class="btn-close">
                    <img src="../assets/Svg/close.svg" alt="">
                </div>
                <div class="proyecto active">
                    <img src="../assets/Proyecto/Proyecto3/frame2.avif" alt="frame1">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto3/frame3.avif" alt="frame2">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto3/frame4.avif" alt="frame3">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto3/frame5.avif" alt="frame4">
                </div>
                <div class="proyecto">
                    <img src="../assets/Proyecto/Proyecto3/frame6.avif" alt="frame5">
                </div>
                <div class="carousel_dot_proyecto">
                    <div class="dot_proyecto active" data-item="0"></div>
                    <div class="dot_proyecto" data-item="1"></div>
                    <div class="dot_proyecto" data-item="2"></div>
                    <div class="dot_proyecto" data-item="3"></div>
                    <div class="dot_proyecto" data-item="4"></div>
                </div>
                <div class="carousel-arrow carousel-arrow-left">
                    <img src="../assets/Svg/arrow_left.svg" alt="arrow_left">
                </div>
                <div class="carousel-arrow carousel-arrow-right">
                    <img src="../assets/Svg/arrow_right.svg" alt="arrow_right">
                </div>
            </article>
            <div class="text-description">
                <h2>CONCEPTO</h2>
                <p> Frescura relajante te transmite ese espacio de reconoxión con el hogar de ensueño, te pone en sintonía y armonía con tonalidades que te transmitiran calma, confianza, equilibrio y un ambiente donde puedas sentir confort y comodidad. Será un espacio donde puedas crear recuerdos inolvidables.
                </p>
                <p>Palabre clave: Frescura relajante</p>
            </div>
            <div class="text-title">
                <img src="../assets/Proyecto/Proyecto3/frescurarelajante.avif" alt="tema_1">
            </div>
        </div>
    </section>
    
    <script src="../scripts/index.js" type="module"></script>
</body>